In [15]:
1+1

2

In [16]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [30]:
print(tu)

(23, 'abc', 4.56, (2, 3), 'def')

In [32]:
tu1 = tu

In [33]:
print(tu1)

(23, 'abc', 4.56, (2, 3), 'def')

In [26]:
tu[-3]

'abc'

In [27]:
tu[1:4]

('abc', 4.56, (2, 3))

In [8]:
li = ["abc", 34, 4.34, 23]

In [22]:
print(tu, li)
li[1]

(23, 'abc', 4.56, (2, 3), 'def') ['abc', 34, 4.34, 23]

34

In [19]:
st = "Hello World"
st = 'Hello World'
st = """This is a multi-line string that uses triple quotes."""